@font-face {
  font-family: "Inter";
  src:
    url(../fonts/inter-cyrillic-400-normal.woff2) format("woff2"),
    url(../fonts/inter-cyrillic-400-normal.woff) format("woff");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
  unicode-range: U+0400-045F;
}

@font-face {
  font-family: "Inter";
  src:
    url(../fonts/inter-latin-400-normal.woff2) format("woff2"),
    url(../fonts/inter-latin-400-normal.woff) format("woff");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
  unicode-range: U+0000-00FF;
}

@font-face {
  font-family: "Inter";
  src:
    url(../fonts/inter-cyrillic-700-normal.woff2) format("woff2"),
    url(../fonts/inter-cyrillic-700-normal.woff) format("woff");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
  unicode-range: U+0400-045F;
}

@font-face {
  font-family: "Inter";
  src:
    url(../fonts/inter-latin-700-normal.woff2) format("woff2"),
    url(../fonts/inter-latin-700-normal.woff) format("woff");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
  unicode-range: U+0000-00FF;
}

body {
  width: 1500px;
  margin: 0 auto;
  padding-top: 10px;
  font-family: "Inter", sans-serif;
  font-weight: 400;
  background-color: #1a1a1a;
}

.header {
  background-color: #2d2d2d;
  color: white;
  border-radius: 12px 12px 0 0;
}

h1 {
  font-size: 24px;
}

.header__title {
  display: flex;
  align-items: center;
  gap: 8px;
}

.header__top {
  display: flex;
  justify-content: space-between;
  padding-top: 20px;
  padding-left: 20px;
  padding-right: 20px;
  padding-bottom: 30px;
  border-bottom: 1px solid white;
}
